@model KoiVetenary.Data.Models.MedicalRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symptoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowUpRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowUpRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
